<%
	let date = new Date().getFullYear();
%>

<footer class="footer wrap__footer">
	<div class="footer__container container">
		<address class="footer__address">
			<p class="footer__text">
        &copy;<%- date -%> • <a href="https://github.com/fxhxyz4">fxhxyz</a> •
        <a href="mailto:fxhsec@proton.me">
          &#60;fxhsec@proton.me&#62;
        </a>
      </p>
		</address>
	</div>
</footer>
