<%
	let svg_path = `../../public/images/symbol-defs.svg#`;
%>

<header class="header wrap__header">
	<div class="header__container container">
		<nav class="nav">
			<div class="nav-logo">
				<a class="nav-logo__link" href="/">
					<svg class="nav-logo__icon" width="40" height="40" aria-label="MusicList logo">
						<use xlink:href="<%- svg_path -%>icon-spotify"></use>
					</svg>
				</a>
			</div>
			<div class="nav-form nav__nav-form">
				<form class="nav-form__post" method="post" name="#" enctype="application/x-www-form-urlencoded">
					<label for="input">
						<svg class="nav-form__icon" width="30" height="30" aria-label="search icon">
							<use xlink:href="<%- svg_path -%>icon-search"></use>
						</svg>
					</label>
					<input class="nav-form__input" type="text" id="input" name="input" placeholder="Type to search..." autocomplete="off" />
				</form>
			</div>
			<div class="nav-auth">
				<button class="nav-auth__link" type="button">
					<svg class="nav-auth__icon" width="30" height="30" aria-label="Twitch logo">
						<use xlink:href="<%- svg_path -%>icon-twitch"></use>
					</svg>
          <span class="nav-auth__text"></span>
				</button>
			</div>
		</nav>
	</div>
</header>
