<header class="header">
	<nav class="navbar">
		<div class="">
			<svg class="" width="" height="" aria-label="">
				<use xlink:href=""></use>
			</svg>
		</div>

		<div class="">
			<form class="" method="post" action="" name="" enctype="application/x-www-form-urlencoded">
				<input class="" type="text" id="" name="" placeholder="" autocomplete="off" />
			</form>
		</div>

		<div class="">
			<a href="/">
				<svg class="" width="" height="" aria-label="">
					<use xlink:href=""></use>
				</svg>
			</a>
		</div>
	</nav>
</header>
