<header class="header">
	<nav class="navbar nav">
		<div class="nav-logo">
			<svg class="nav-logo__icon" width="" height="" aria-label="">
				<use xlink:href=""></use>
			</svg>
		</div>

		<div class="nav-form">
			<form class="nav-form__post" method="post" name="#" enctype="application/x-www-form-urlencoded">
				<input class="nav-form__input" type="text" id="input" name="input" placeholder="Type to search..." autocomplete="off" />
			</form>
		</div>

		<div class="nav-auth">
			<a class="nav-auth__link" href="/">
				<svg class="nav-auth__icon" width="" height="" aria-label="">
					<use xlink:href=""></use>
				</svg>
			</a>
		</div>
	</nav>
</header>
