<%
	let title = `NoDMCA searcher with spotify-api`
%>

<main class="main">
	<div class="container">
		<h1 class="visually-hidden main__title"><%- title -%></h1>
		<ul class="main__list">
				<!-- spotify.js -->
		</ul>
	</div>
</main>
