<%
	let title = `NoDMCA searcher with spotify-api`
%>

<main class="main">
	<div class="main__container container">
		<h1 class="main__title visually-hidden"><%- title -%></h1>
		<ul class="main__list"></ul>
    <div class="main__spin text-center visually-hidden">
      <div class="spinner-border"></div>
	  </div>
	</div>
</main>
