<%
	let title = `NoDMCA searcher with spotify-api`
%>

<main class="main">
	<div class="container">
		<h1 class="visually-hidden main__title"><%- title -%></h1>
		<ul class="main__list"></ul>
	</div>
  <div class="text-center spin is-hidden">
		<div class="spinner-border" role='status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</main>
