<%
	let title = `NotFound 404`
%>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="image/x-icon" rel="shortcut icon" href="./public/images/favicon.ico" />
		<meta name="robots" content="noindex,nofollow" />
		<title><%- title -%></title>
		<style>
			body{user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;background-color:black;color:white;margin:0 auto;text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}h1{font-size:98px;text-align:center;padding-top:240px;margin-bottom:70px}a{color:inherit;font-size:28px;text-decoration:none}
		</style>
	</head>
	<body>
		<h1>404</h1>
		<a href="/"><b>go back</b></a>
	</body>
</html>
