<%
	let title = `NotFound 404`
%>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="image/x-icon" rel="shortcut icon" href="./public/images/favicon.ico" />
		<meta name="robots" content="noindex, nofollow" />
		<title><%- title -%></title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
      body {
              user-select: none;
              -ms-user-select: none;
              -moz-user-select: none;
              -webkit-user-select: none;
              background-color: #252525;
              color: white;
              margin: 0 auto;
              text-align: center;
              font-family: 'Open Sans', sans-serif;
      }
      h1 {
            font-size: 140px;
            text-align: center;
            padding-top: 234px;
            margin-bottom: 90px
      }
      a {
          color: inherit;
          font-size: 40px;
          text-decoration: none
      };
		</style>
	</head>
	<body>
	  <h1>404</h1>
		<a href="/">go back</a>
	</body>
</html>
